<html><body>$user.firstName $user.lastName,<br>
We received your request to reset your forgotten password.  Please use the below link to reset your password.<br>
<a href="$applicationUrl/recoverPassword.jsf?email=$email&otp=$password">Password recovery</a>.<br><br>
or copy this url to your address bar:<br>$applicationUrl/recoverPassword.jsf?email=$email&otp=$password<br><br>
If you did not request this password reset, please do not take any actions.  For further questions, please contact your DRCC System Administrator.</body></html>