<div class="dashboard">
  <div class="ui-g">
    <div class="ui-g-2" >
      <div class="fixed">
        <app-lateral-menu></app-lateral-menu>
      </div>
    </div>
    <div class="ui-g-10" style="text-align: center">
      <p-panel class="no-header">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/MjCcmSdraRI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </p-panel>
    </div>
    <div class="ui-g-2">
    </div>
    <div class="ui-g-7">
      <div class="ui-g-12 nopad">
        <app-electricity-summary></app-electricity-summary>
      </div>
      <hr/>
      <div class="ui-g-12 nopad">
        <app-chart-selector></app-chart-selector>
      </div>
    </div>
    <div class="ui-g-3 future-fixed">
      <app-service-agreement></app-service-agreement>
      <p></p>
      <app-rate-plan-summary></app-rate-plan-summary>
    </div>
  </div>
</div>
